/*MEDIA QUERIES*/
@media screen and (max-width: 480px) and (max-width: 780px){
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "logo"
        "sectionUno"
        "sectionDos" 
        "footer";
          }
}



@media screen and (min-width: 780px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "logo"
        "sectionUno"
        "sectionDos" 
        "footer";
          }

  header {
    
    
    flex-direction: row !important;
    justify-content: space-between;
    background-color: rgb(233, 236, 232); opacity:0.9;
    position: sticky; z-index: 1;
    top: 0px  ; 
  }
  
  footer {

    flex-direction: row !important;
    justify-content: space-between;
  }
  
}


/*----  GENERAL   ----*/
body {
  margin: 0px;
  color: #051d4a;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  word-spacing: 1px;
  font-size: 22px;
  background-color: whitesmoke;
}

header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #bcbcc0;
 
}

a {
  margin-left: 10px;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #051d4a;
}

 a:hover {
  color: #2d99ae;
}

.titulo {
  margin: 5px 0px 0px 10px;
  }

.titulo a:hover {
  color: #2d99ae;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 10px;
}

.menu__item {
  text-transform: uppercase;
}


.logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A5CF61), to(white));
  background-image: linear-gradient(to bottom, #A5CF61 30%, whitesmoke );
  padding-bottom: 2em;
}

.logo__img {
  height: 210px;
  width: 210px;
}

.sectionUno {
  grid-area: sectionUno;
  padding-bottom: 2em;
  display: flex;
  flex-flow: column ;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  
  
}
.sectionUno__titulo{
  text-transform: uppercase;
 
}

.sectionDos {
  grid-area: sectionDos;
  
   display: flex;
  flex-flow: column ;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  
}



.breadcrumb--modificador{
  margin-top: 2em;
}

footer {
  padding: 10px;
  grid-area: footer;
;
  display: flex;


  flex-direction: column;
  
  justify-content: space-between;
  
  align-items: center;
  background-color: #A5CF61;
}

.redes__img {
  height: 27px;
  width: 27px;
  
}

/*----  INDEX   ----*/


.carousel{
 
  width: auto;
  max-width: 45em;
 }

 .boton{
  margin-bottom: 1em;
}
.boton--modificador{
  background-color: #A5CF61;
  color: #051d4a;
}

.boton--modificador:hover{
  transform: scale(1.1);
}

.h5-titulo{
  font-size: xx-large;
}

.h5--modificador{
  font-size: larger;
}
 /*----  VENTAS  ----*/
/*
.tabla {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.tabla--modificador {
  background-color: #A5CF61;
 
}

table th {
  color: #051d4a;
  border: 1px solid;
  text-transform: uppercase;
  padding-top: 5px;
}

tr, td {
  color: #051d4a;
  border: 1px solid;
  border-top: 1px solid;
}

ol li {
  list-style: disc;
  font-style: oblique;
}
*/
.plantines {
  float: left;
  margin:20px 20px;
  width: 16em;
  -moz-box-shadow: #A5CF61;
  -webkit-box-shadow: #A5CF61;
  box-shadow: #A5CF61;
  border:1px solid #A5CF61;
  border-bottom:10px solid #A5CF61;
  text-align: center;
  
}
.plantines-header {
  padding: 5px 0 5px 0;
  background: #A5CF61;
  border-bottom:10px solid #A5CF61;
  text-transform: uppercase;
}
.plantines-detalles {
  margin: 15px 10px 0 10px;
  padding: 0 10px 15px 10px;
  border-bottom: 1px dashed #888;
  text-align: center;
  line-height: 20px;
  font-size: 17px;
  color: #696969;
  letter-spacing: 1px;
}
.plantines-caracteristicas{
  width:50%;
  height: 50px;
  margin: 25px 0 25px 0;
  padding-bottom: 10px;
  display: inline-block;
  height: 50px;
  background: #A5CF61;
  line-height: 50px;
  text-transform: uppercase;
}




/*----  Contacto   ----*/


.contacto{
  margin-top: 2em;
}

input, textarea{


	border-radius: 6px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #051d4a;

}

/*Proyecto*/



.btn-absolute {
  position: absolute;
  right: 40px;
  

}

.card--modificador{
  max-width: 30em; 
  margin-bottom: 3em;
  background-color: whitesmoke;
}


/*----   GALERIA   ----*/


img{
	max-width: 100%;
}

.gallery__item img{
	
	box-shadow: 0 0 15px #A5CF61;
	cursor: pointer;
}

.gallery-container  {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;
	
	grid-gap: 10px;
	

}

.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.gallery__img:hover{
    filter: blur(5px);
}

.gallery__item:nth-child(4){

	grid-column-start: span 2;
}
.gallery__item:nth-child(5){

	grid-row-start: span 2;
}
.gallery__item:nth-child(11){

	grid-column-start: span 3;
}

@media only screen and (min-width:768px) {

	.gallery-container  {
	grid-template-columns: repeat(4, 1fr);
	}
	.gallery__item:nth-child(6){

	grid-row-end: span 2;
}
.gallery__item:nth-child(9){

	grid-row-end:  span 2;
}
.gallery__item:nth-child(3){

	grid-column-end: span 2;
}

.gallery__item:nth-child(11){

	grid-column-start: span 2;
}

.gallery__item:nth-child(11){

	grid-row-end: span 2;
}
.gallery__item:nth-child(10){

	grid-row-end: span 2;
}
}


/*---- ERROR 404 ----*/

.mainbox {
  background-color: #A5CF61;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

/*# sourceMappingURL=estilos.css.map */